div{
    color: white;
    margin: 1vh;
}

#n1{
    width: 60%;
    height: 5%;
    background-color: red;
}

#n2{
    width: 90%;
    height: 5%;
    background-color: blue;
}

#n3{
    width: 50%;
    height: 5%;
    background-color: green;
}

#n4{
    width: 80%;
    height: 5%;
    background-color: grey;
}

#n5{
    width: 75%;
    height: 5%;
    background-color: gold;
}