body{
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

img{
    width: 47vmin;
    height: 40vmin;
    border-radius: 50%;
    border: 2px solid black;
}

table{
    margin-left: 12vw;
}

td{
    width: 20vw;
    height: 20vh;
    text-align: center;
}

#about{
    position: relative;
    border-radius: 15%;
    width: 150%;
    margin: 10%;
    font-family: 'Sriracha', cursive;
    font-size: 2.8vmax;
    color: antiquewhite;
    text-shadow: 5px 5px 2px brown;
}

p{
    vertical-align: middle;
}

#pro{
    border: 1px solid black;
    border-radius: 20%;
    width: 80vw;
    margin: auto;
    margin-top: 10vh;
    background-color: antiquewhite;
    border: 9px inset chocolate;
}

#in{
    margin-left: 10vw;
    margin-bottom: 10vh;
    font-family: 'Sriracha', cursive;
    font-size: 1.8vmax;
}

span{
    margin-left: 5%;
}

h2{
    color: darkred;
}

#facebook, #github{
    border-radius: 10%;
    border: none;
    width: 12vmin;
    height: 9vmin;
    margin-left: 4vw;
    margin-top: 2vh;
}

#facebook:hover, #github:hover{
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
}

a{
    display: inline-block;
}