div{
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 20px;
  color: white;
  border: 6px solid black;
  text-align: center;
}
#money{
    position: relative;
    left: 90%;
}
#food{
  position: absolute;
  top: 60%;
  left: 0%;
}
#all_Food{
  position: absolute;
  top: 60%;
  left: 50%;
}
#gun{
  position: absolute;
  top: 60%;
  left: 60%;
  color: black;
}
div[set = "a"]{
  position: relative;
  top: 60%;
  left: 25%;
}
div[set = "c"]{
  position: relative;
  top: 60%;
  left: 25%;
  background-color: black;
}