table#t01, tr#t01, th{
  width:70%;
  border-collapse: collapse;
  border: 1px solid black;
  margin-left: 15%;
  margin-right:30%;
}

tr{
    background-color: white;
    color: white;
}

tr#t01{
    background: black;
}

h1#h02, h2#h02{
    color: black;
}

table#t02{
  background-color: white;
  width:60%;
  margin-left:20%;
  margin-right:20%;
}

th#t02{
    border-color: white;
}

body{
    background-image: url("images/map.jpg");
}

h2#h03{
  color: black;
}

button{
    width: 100;
    height: 47;
}

p#p01{
    color: red;
}

h3{
    margin-right:70%;
    color: blue;
}
